*{
  margin: 0;
  padding: 0
}
body{
  height: 100vh;
  padding:4px
  height: -webkit-fill-available;
  border: blue dash 1px
  display: flex;
  flex-direction: column;
}
.one{
  height: 160px;
  margin:4px
  border :1px dash red;
  /*position: sticky;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: whitesmoke;
}
.two{
  border:1px dash black ;
  margin-top: 20px 4px 4px;
  overflow-y: auto;
  padding: 20px;
  /*height: -webkit-fill-available;*/
  flex: 1 1 0%;
}